
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:fragment="head" lang="ru">
        <title>Новости</title> 
        <!--/*/ <th:block th:include="index :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="index :: navbar"></th:block> /*/-->
        <div class="container screen-post">
            <div class="row">
                <div class="col-sm-8  col-lg-8">
                    <nav>
                        <ul class="pagination">
                            <li th:class="${page.firstPage}?'disabled':''">
                                <span th:if='${page.firstPage}'><i class="fa fa-angle-double-left"></i></span>
                                <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'><i class="fa fa-angle-double-left"></i></a>
                            </li>
                            <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                                <span th:if='${not page.hasPreviousPage}'><i class="fa fa-angle-left"></i></span>
                                <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                                <span th:if='${item.current}' th:text='${item.number}'>1</span>
                                <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
                            </li>
                            <li th:class="${page.hasNextPage}? '' : 'disabled'">
                                <span th:if='${not page.hasNextPage}'><i class="fa fa-angle-right"></i></span>
                                <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'><i class="fa fa-angle-right"></i></a>
                            </li>
                            <li th:class="${page.lastPage}? 'disabled' : ''">
                                <span th:if='${page.lastPage}'><i class="fa fa-angle-double-right"></i></span>
                                <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'><i class="fa fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                    <div class="thumbnail  col-md-12" th:each="post : ${post}">    
                        <table>
                            <tr>
                                <th>
                                    <div class="col-md-4 col-xs-2">
                                        <img class="mini-image-post" th:src="${post.urlImage}" />
                                    </div>
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <div class="caption">
                                            <!--/*/ <th:block th:include="index :: mini-post"></th:block> /*/-->
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--/*/ <th:block th:include="index :: blocks"></th:block> /*/-->
            </div>          
        </div>
        <!--/*/ <th:block th:include="index :: footer"></th:block> /*/-->
        <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"/>
        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"/>


    </body>
</html>
