<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
    <head lang="ru">     
        <title th:text="${post.title}">Название</title> 
        <!--/*/ <th:block th:include="index :: head"></th:block> /*/-->
        <link rel="stylesheet"  th:href="@{/css/post.css}"/>
    </head>
    <body>

        <!--/*/ <th:block th:include="index :: navbar"></th:block> /*/-->
        <div class="container screen-post">
            <div class="row">
                <div class="col-sm-9 well" th:each="post : ${post}">
                    <div class="btn-group" sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><i class="fa fa-gear"></i> <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/post/{category}/{id}/alter(category=${post.category},id=${post.id})}">Редактировать</a></li>                                    
                            <li class="divider"></li>
                            <li><a href="#ModalDelete" data-toggle="modal">Удалить</a></li>
                        </ul>
                        <div id="ModalDelete" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                                        <h4 class="modal-title">Потвердите действие</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                        <a th:href="@{/admin/post/{category}/{id}/delete(category=${post.category},id=${post.id})}" class="btn btn-danger">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="breadcrumb">
                        <li><a th:href="@{/}">Главная</a></li>
                        <li><a th:href="@{/post/{category}(category=${post.category})}" th:text="${categoryName}"></a></li>
                        <li class="active" th:text="${post.title}"></li>
                    </ol>
                    <h1 th:text="${post.title}" class="title-post text-center">Name</h1>
                    <div th:utext="${post.body}" class="text-post">Text</div> 
                    <div id="disqus_thread"></div>
                </div>
                <!--/*/ <th:block th:include="index :: blocks"></th:block> /*/-->
            </div>
        </div>
        <a class="button-up" href="#"><i class="fa fa-arrow-up fa-2x"> Наверх</i></a>
        <div id="disqus_thread"></div>
        <script>
            (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://newsportaltechnology.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <!--/*/ <th:block th:include="index :: footer"></th:block> /*/-->
        <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"/>
        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"/>

    </body>
</html>
