html{
    position: relative;
    min-height: 100%;

}
.title-block{
    color: #fff;
}

body{
    padding-top: 70px;
    margin-bottom: 60px;
    background-image: url(image/fon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size:cover;

}
a.link-to-news{
    font-size: 20pt;
}

.mini-image-post-d{
    width: 150px;
    height: 150px;
}
.mini-image-post{
    height: 150px;
    width: 150px;

}
@media (min-width: 1510px)
{
    .container.screen-post{
        width: 1490px;
    }
}
.admin-href-all{
    font-size: 17pt;
}

.avatar{
    max-height: 150px;
    max-width: 150px;

}
.footer{    
    position: absolute;
    top: 100%;    
    width: 100%;
    height: 60px;
    background-color: #000;  

}
.footer-text{
    padding-top: 15px;
    color: #fff;
}
.button-up{
    position: fixed;
    top: 90%;    
    right: 2%;
    color: #fff;
}
@media(max-width: 768px){
    .button-up{
        visibility: hidden;
    }
}
