<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:fragment="head" lang="ru">
        <title>Новости</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="yandex-verification" content="66651724de7fe361" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet"  th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
        <link rel="stylesheet"  th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
        <link rel="shortcut icon" th:href="@{/css/image/favicon.jpg}" type="image/jpg"/>
    </head>
    <body>
        <div th:fragment="navbar">
            <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header" > 
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="http://ooo.technology/" class="navbar-brand">Технология</a>
                    </div>
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Новости</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li sec:authorize="isAnonymous()"> 
                                <a th:href="@{/login}">
                                    <i class="fa fa-sign-in"></i> Войти</a>  
                            </li>
                            <li>
                                <div sec:authorize="isAuthenticated()">
                                    <form class="navbar-form navbar-left" th:action="@{/logout}" method="post">      
                                        <ul class="nav">
                                            <li class="dropdown">
                                                <a data-toggle="dropdown" class="dropdown-toggle" href="#" sec:authentication="name"><b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li sec:authorize="hasRole('ROLE_ADMIN') OR hasRole('SUPER_ADMIN')">
                                                        <a th:href="@{/admin}">Администрирование</a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li><div class="btn-group-justified">
                                                            <div class="btn-group">
                                                                <button class="btn btn-default" type="submit">Выйти</button>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>                         
                                        </ul>
                                    </form>              
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!--Внутренняя структура-->
        <div class="container screen-post">
            <div class="row">
                <div class="well col-sm-8">
                    <h2 class="text-center">Последние новости:</h2>
                    <div class="thumbnail" th:each="post : ${post}">    
                        <table>
                            <tr>
                                <td>
                                    <div class="col-sm-2">
                                        <img class="mini-image-post img-rounded"  th:src="${post.urlImage}" id="imageNews"/>
                                    </div>
                                </td>
                                <td>
                                    <div th:fragment="mini-post">
                                        <div class="caption">
                                            <div>
                                                <h3><a class="link-to-news"  th:href="@{/post/{category}/{id}(category=${post.category},id=${post.id})}" th:text="${post.title}">тут наша новость</a></h3>
                                            </div>
                                            <div>
                                                <p th:text="${post.description}"></p>
                                            </div>

                                            <span class="text-muted">Опубликовано:</span>
                                            <span class="text-danger" th:if="${post.datePublication != null}" th:text="${#dates.format(post.datePublication, 'dd.MM.yyyy')}"></span>
                                            <span><a class="btn btn-link" th:href="@{/post/{category}/{id}(category=${post.category},id=${post.id})}">Посмотреть</a></span>
                                        </div> 
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div th:fragment="blocks">
                    <div class="col-sm-3">
                        <h3 class="title-block">Раздел новостей</h3>
                        <div class="list-group">
                            <a th:href="@{/}" class="list-group-item active">
                                Последние новости
                            </a>
                            <a th:each="category : ${category}" class="list-group-item" th:href="@{/post/{category}(category=${category.url})}"><span th:text="${category.name}"></span></a>
                            <a class="list-group-item" th:href="@{/post}">Все</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:fragment="footer">
            <div class="footer">
                <div class="container footer-text">
                    <div class="row">
                        <span>©</span>
                        <span>2017</span>
                        <span th:if="${#dates.format(#dates.createNow(),'yyyy')}>2017"> - </span>
                        <span th:if="${#dates.format(#dates.createNow(),'yyyy')}>2017" th:text="${#dates.format(#dates.createNow(), 'yyyy')}"> - </span>
                        <span>Новостной портал компании ООО "Технология".</span>
                    </div>
                </div>
            </div>
        </div>       
        <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"/>
        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"/>
    </body>
</html>
